################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DeLauncherForm/bin
/DeLauncherForm/obj/publish
/.upgrade-assistant
/log.txt
